[nat]
{{ external_ip_nat.value }}

[nat:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=accept-new'

[reverse_proxy]
{{ external_ip_reverse_proxy.value }}

[reverse_proxy:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=accept-new'

[compute]
{%- for line in internal_ip_compute.value %}
{{ line -}}
{% endfor %}

[compute:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=accept-new -o ProxyCommand="ssh -o StrictHostKeyChecking=accept-new -W %h:%p -q rek@{{ external_ip_nat.value }}"'
# ansible_ssh_common_args='-J rek@{{ external_ip_nat.value }} -o StrictHostKeyChecking=accept-new'