[Unit]
Description=Compute instance
After=network.target

[Service]
User={{ ansible_user }}
Group=www-data
WorkingDirectory=/home/{{ ansible_user }}/compute
Environment="PATH=/home/{{ ansible_user }}/compute/venv/bin"
ExecStart=/home/{{ ansible_user }}/compute/venv/bin/python main.py --port 8080

[Install]
WantedBy=multi-user.target